.aaa{
	padding: 0 0 0 0;
}

.title {
	margin-top: -25px;
	text-align: center;

}

.accueildiv{
	margin: 0 3% 3% 3%;
	text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;

}

#div1 {
	/*margin-left: 3%;
	margin-right: 3%; */
}

#div2 {
	/*margin-left: 3%;
	margin-right: 3%;*/
}

.accueiltext{
	text-align: justify;

}

#divinter{
	border-right: solid thin;
	border-left: solid thin;
	margin: 0 0 3% 3%;
}

#row1{
	margin: 30% 0 0 0;

}

#row2{
	margin-top: 0;
}

#tout{
	background-image: url(../images/accueilfade.png);

	background-repeat:  no-repeat;
	background-size: auto;

}
.responsiveImage{
    width: 80%;
    height: auto;
}
