.inner-hidden-scrollbar{
    max-height: 3em;
}

.card-size-standard{
    height: 7em;
    overflow-y: hidden;
}

@media (max-width: 1127px){
    .card-size-standard{
        height: 9em;
    }
    .inner-hidden-scrollbar{
        max-height: 5em;
    }
}

.margin-rechercheList{
    margin-left:5em;
}

