.footerbody{
    color: #000000;
background-color: #637bbd;
}
.textcolor{
    text-color: black;
}
footer a:hover{
    color: #cacaca;
}
footer a {
    color: black;
}
.MarginPading{
    margin: 0;
    padding: 0;
}

