.footerbody{
    color: #000000;
background-color: #637bbd;
    /*position:fixed;*/
    /*left:0px;*/
    /*bottom:0px;*/
    /*width:100%;*/
    /*margin: 0;*/
}
footer a:hover{
    color: #cacaca;
}
footer a {
    color: black;
}
.MarginPading{
    margin: 0;
    padding: 0;
}

