.carousel-item> img {
    margin: 0 ;

    height: 50vh;
    min-height: 350px;
    width:100%;
    background: no-repeat center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.row{
    margin-left:0px;
    margin-right: 0;
}
.photo2{
    max-width: 20rem;
}
.photo{
    max-width: 30rem;
    /*max-height:500px;*/
}

.red-hover:hover{
    color:red;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 300px; /*Marge de la taille du footer +10px supplémentaires*/
}

@media (max-width: 767px) {
    body {
        margin-bottom: 785px; /*Marge de la taille du footer +10px supplémentaires*/
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
